.cards-grid__header {
  margin-bottom: 42px;
}

.cards-grid__title {
  margin: 0;
}

.cards-grid__title-dark {
  color: #ffffff;
}

.cards-grid__title-accent {
  color: var(--color-primary);
}

.cards-grid__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cards-grid__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.cards-grid__card {
  min-width: 0;
}

/* Helper styles for content inside HTML cards */
.cards-grid__card .cards-grid__media {
  border-radius: 8px;
  background: #033860;
  /* height: 150px; */
  display: grid;
  place-items: center;
  margin-bottom: 16px;
}

.cards-grid__card .cards-grid__media img,
.cards-grid__card .cards-grid__media svg {
  width: 100%;
  height: auto;
}

.cards-grid__card .cards-grid__illustration {
  border-radius: 8px;
}

.cards-grid__card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--color-text-main);
}

.cards-grid__card p {
  color: var(--color-text-secondary);
}
.cards-grid__card-dark {
  background-color: #033860;
  border-radius: 8px;
}

.cards-grid-dark {
  background-color: #033860;
  border-radius: 8px;
  padding: 42px 42px 52px;
}

.cards-grid__card-dark h3 {
  color: #ffffff;
}

.cards-grid__card-dark p {
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 900px) {
  .cards-grid__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .cards-grid__card:has(> .cards-grid__media-empty) {
    display: none;
  }

  .cards-grid__header {
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .cards-grid__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .cards-grid__header {
    margin-bottom: 24px;
  }
}
