.highlight-grid {
  padding: 100px 0;
}

.highlight-grid__inner {
  display: grid;
  grid-template-columns: minmax(0, 1.1fr) minmax(0, 2fr);
  gap: 28px;
  align-items: flex-start;
}

/* .highlight-grid__title h2 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  color: #020617;
} */

.highlight-grid__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 28px 28px;
}

.highlight-card {
  background: var(--color-surface);
  border-radius: 8px;
  padding: 24px 24px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highlight-card__title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #020617;
}

.highlight-card__description {
  color: var(--color-text-secondary);
  margin: 0;
}

.highlight-card__index {
  margin-top: 24px;
  border: none;
  background: none;
  padding: 0;
  align-self: flex-start;
  text-transform: uppercase;
  color: var(--color-primary);
  cursor: default;
}

@media (max-width: 960px) {
  .highlight-grid__inner {
    grid-template-columns: minmax(0, 1fr);
  }

  .highlight-grid__title h2 {
    font-size: 32px;
  }

  .highlight-grid__cards {
    grid-template-columns: minmax(0, 1fr);
  }
}
