@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;500;600;700&display=swap");

:root {
  /* Шрифты */
  --font-family-base:
    "Inter", "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  --color-white: #ffffff;

  --color-text-main: #111111;
  --color-text-secondary: #5b5b66; 
  --color-text-secondary-light: #7B7B89;

  --color-btn-primary: #1e1e1e;

  --color-primary: #0091EC;

  --color-bg: #ffffff --color-surface: #f6f6f8;
}

a {
  font-weight: var(--font-weight-medium);
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
a {
  font-family: "Inter", var(--font-family-base);
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}

h1 {
  font-family: "Roboto Condensed", var(--font-family-base);
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

h2 {
  color: #000;

font-family: "Roboto Condensed";
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 61.6px */
}

h4 {
  font-family: "Inter", var(--font-family-base);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
